body, html {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formula {
  margin-bottom: 20px;
  font-size: 24px;
}

.result-input {
  margin-bottom: 20px;
  padding: 10px;
  width: 200px;
  box-sizing: border-box;
}

.generate-btn, .result-btn {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
}

.result-btn {
  border-radius: 12px;
}

.space {
  height: 30px; /* Space for showing correct result */
  display: flex;
  align-items: center;
  color: green;
}

.correct {
  border: 2px solid green;
}

.incorrect {
  border: 2px solid red;
}

.checkmark, .cross {
  color: green;
  margin-left: 10px;
}

.cross {
  color: red;
}
